In [7]:
import csv
import logging
from ftplib import FTP
from io import BytesIO, TextIOWrapper
from typing import List
import pandas as pd

logger = logging.getLogger(__name__)

# Returns a list of tickers through NASDAQ
def get_tickers() -> List[str]:
    logger.info(f"Querying for tickers.")

    raw = BytesIO()

    # FTP locations taken from https://quant.stackexchange.com/a/1862.
    with FTP('ftp.nasdaqtrader.com') as conn:
        conn.login()
        conn.retrbinary('RETR SymbolDirectory/nasdaqlisted.txt', raw.write)

    raw.seek(0)
    reader = csv.DictReader(TextIOWrapper(raw), delimiter='|')

    # After http://www.nasdaqtrader.com/trader.aspx?id=symboldirdefs:
    # - data['Test Issue'] == 'N' indicates the asset is not a test security
    # - data['Financial Status'] == 'N' indicates the asset is normal, and
    #   continues to meet the Nasdaq's requirements for listing.
    tickers = [row["Symbol"] for row in reader
               if row["Test Issue"] == "N"
               if row["Financial Status"] == "N"]

    logger.info(f"Obtained {len(tickers)} tickers.")

    return tickers

In [8]:
tickers = pd.DataFrame(get_tickers())

In [9]:
tickers.to_csv('data')

          0
0      AACG
1      AACI
2     AACIU
3     AACIW
4      AADI
...     ...
4871   ZTEK
4872   ZUMZ
4873   ZVSA
4874   ZYME
4875   ZYXI

[4876 rows x 1 columns]